html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    background: #fff;
}

h1 {
    font-size: 2em;
    margin: 0;
}

p {
    line-height: 1.4em;
    width: 700px;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post{
    border-bottom: 1px dotted #ccc;
}

a[href="./about.html"]{
    color:aqua;
}

a[href="./contact.html"]{
    color:aqua;
    position: absolute;
    right: 50px;
}

a[href="./index.html"]{
    color:aqua;
    position: absolute;
    right: 680px;
}
.navigationa{
  background: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 2em;
}

.imagea{
    float: left;
    margin-left: 100px;
    font-size: 2em;
}