html {
    background: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    color: #242424;
    background: #e3e3e3;
}

h1 {
    font-size: 2em;
    margin: 0;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post{
    border-bottom: 1px dotted #ccc;
    display: flex;
}

a[href="./about.html"]{
    color:aqua;
}

a[href="./contact.html"]{
    color:aqua;
    position: absolute;
    right: 50px;
}

a[href="./index.html"]{
    color:aqua;
    position: absolute;
    right: 680px;
}
.navigationa{
  background: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 2em;
}

.imagea{
    float: left;
    margin-left: 0px;
    width: 15em;
}

.format-p {
    line-height: 1.4em;
/*     width: 500px; */
}

.contact {
    line-height: 1.4em;
    width: 500px;
}

.caption{
    width: 8em;
    border: 2px solid black;
    margin-left: 45px;
    background-color: green;
}

.flexed{
  background: black;
  display: flex;
  color: white;
  justify-content: space-around;
  column-gap: 10px;
}

.format-c{
  background: #999;
  max-width: 30%;
}